.body {
    background: #ff0000;
background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(0, 252, 0, 1) 50%, rgba(0, 0, 255, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Garamond', serif;
    font-weight: bold;
    color: rgb(100, 15, 15);
    font-size: 5vh;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

