body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 255);
}

h1 {
    background: rgb(255, 0, 0);
    color: #114e0a;
    padding: 10px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    padding: 0 10px;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.content {
    padding: 20px;
    background: rgb(0, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color: rgb(255, 0, 0);
}

.header-image {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto 20px auto;
    text-align: center;
}