body {
  background-color: rgb(99, 64, 36);
  font-family: arial;
  color: red;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
  animation: spinType 4s infinite ease-in-out;
}
#color-wheel {
    height: 600px;
}

@keyframes spinType {
  0% {
    transform: rotate(0.5turn) scale (1) 
  }
  60% {
    transform: rotate(0.7turn) scale(0.5) 
  }
  100% {
    transform: rotate(1turn) scale(1)
  }
}