
.body {
  background-color: black;
  text-align: center;
  padding-top: 50px;
  grid: 1/3;
}
.circle1 {
  height: 100px; 
  width: 100px;  
  background-color: blue; 
  border-radius: 50%;
  mix-blend-mode: color-burn;
  display: inline-block;
}

.circle2 {
  height: 150px; 
  width: 150px; 
  background-color: red; 
  border-radius: 50%;
  mix-blend-mode: color-burn;
  display: inline-block;
}

.circle3 {
  height: 200px; 
  width: 200px;  
  background-color: lime; 
  border-radius: 50%;
  mix-blend-mode: color-burn;
  display: inline-block;
  animation: spinType 4s infinite ease-in-out;
}

@keyframes spinType {
  0% {
    transform: translate(30px, 20px) rotate(0.5turn) scale(1);
  }
  60% {
    transform: translate(30px, 20px) rotate(0.7turn) scale(0.5);
  }
  100% {
    transform: translate(30px, 20px) rotate(1turn) scale(1);
  }
}